BasedOnStyle: LLVM

ColumnLimit: 120

IndentWidth: 4
UseTab: Never

InsertNewlineAtEOF: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true

PackConstructorInitializers: NextLine
BreakConstructorInitializers: BeforeComma

CompactNamespaces: true
