# Enable standard checks
Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*

  -readability-identifier-length,
  
  -bugprone-easily-swappable-parameters,

  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-use-default-member-init,

  -modernize-use-trailing-return-type,
  -modernize-use-constraints,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-avoid-c-arrays,
  -modernize-type-traits,
  -modernize-use-default-member-init,

  -misc-include-cleaner,

# Treat all enabled checks as errors
WarningsAsErrors: "*"

# Only check headers belonging to the project
HeaderFilterRegex: '^.*[\\/]include[\\/]stdx[\\/].*'


# Check options for specific modules
CheckOptions:
  # -------------------------
  # Variable Naming
  # -------------------------

  - { key: readability-identifier-naming.VariableCase,          value: camelBack }
  - { key: readability-identifier-naming.ParameterCase,         value: camelBack }

  - { key: readability-identifier-naming.PublicMemberCase,      value: lower_case }
  - { key: readability-identifier-naming.ProtectedMemberCase,   value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberCase,     value: camelBack }
  - { key: readability-identifier-naming.ProtectedMemberPrefix, value: m_ }
  - { key: readability-identifier-naming.PrivateMemberPrefix,   value: m_ }

  # -------------------------
  # Function Naming
  # -------------------------

  - { key: readability-identifier-naming.FunctionCase, value: lower_case }

  # -------------------------
  # Constant Naming
  # -------------------------

  - { key: readability-identifier-naming.ConstantCase,       value: UPPER_CASE }
  - { key: readability-identifier-naming.MemberConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }


  # -------------------------
  # Classes / Structs / Enums Naming
  # -------------------------

  - { key: readability-identifier-naming.ClassCase,  value: lower_case }
  - { key: readability-identifier-naming.StructCase, value: lower_case }
  - { key: readability-identifier-naming.EnumCase,   value: lower_case }
  - { key: readability-identifier-naming.UnionCase,  value: lower_case }

  # -------------------------
  # Macros
  # -------------------------

  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }


  # -------------------------
  # Other
  # -------------------------

  - { key: readability-magic-numbers.IgnoredIntegerValues, value: '0;1;2;3,4;10' }
  - { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: true }
